body{
    margin: 0;
}

nav{
    background-color:aquamarine;
    height:60px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18pt;
}
nav a:first-child{
color: red;
}

nav a:hover{
    font-size: 18.5pt
}